<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>DevopsLogix</title>

    <!-- Fav Icon -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">

    <!-- Stylesheets -->

    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/flaticon.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome-all.css" rel="stylesheet" />
    <link href="~/Content/css/imagebg.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/Content/css/owl.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <!-- main header -->
    <header class="main-header style-four">
        <div class="outer-container">
            <div class="container">
                <div class="main-box clearfix">
                    <div class="logo-box pull-left">
                        <figure class="logo"><a href="index.html"><img src="~/images/logo-4.png" alt=""></a></figure>
                    </div>
                    <div class="menu-area pull-right clearfix">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler">
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                        </div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="current dropdown">
                                        <a href="index.html">Home</a>

                                    </li>
                                    <li class="dropdown">
                                        <a href="service.html">Services</a>
                                        <ul>
                                            <li><a href="software-development.html">Software Development Service</a></li>
                                            <li class="dropdown">
                                                <a href="#">WEB Services</a>
                                                <ul>
                                                    <li><a href="Web-Design.html">Web-Design</a></li>
                                                    <li><a href="WEB DEVELOPMENT.html">Web-Development</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="SOFTWARE-SUPPORT.html">Software Support Service</a></li>
                                            <li><a href="IT-SECURITY.html">IT Security Service</a></li>
                                            <li><a href="WEBSITE-MAINTENANCE.html">Website Maintanance Service</a></li>
                                            <li><a href="#">Computer AMC Service</a></li>
                                            <li><a href="#">Data Recovery service</a></li>
                                        </ul>

                                    <li class="dropdown">
                                        <a href="about.html">About Us</a>

                                    </li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </nav>
                        <div class="menu-right-content clearfix">
                            <div class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-search"></span></button>
                                    <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                        <li class="panel-outer">
                                            <div class="form-container">
                                                <form method="post" action="http://azim.commonsupport.com/Appway/blog.html">
                                                    <div class="form-group">
                                                        <input type="search" name="field-name" value="" placeholder="Search...." required="">
                                                        <button type="submit" class="search-btn"><span class="fas fa-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="btn-box"><a href="contact.html">Started Now</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--sticky Header-->
        <div class="sticky-header">
            <div class="container clearfix">
                <figure class="logo-box"><a href="index.html"><img src="~/images/logo-4.png" alt=""></a></figure>
                <div class="menu-area">
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- main-header end -->
    @RenderBody()
    <!-- main-footer -->
    <footer class="main-footer style-five style-six">
        <div class="anim-icons">
            <div class="icon icon-1"><img src="~/images/icons/pattern-21.png" alt=""></div>
        </div>
        <div class="image-layer" style="background-image: url(/images/icons/footer-bg-6.png);"></div>
        <div class="container">
            <div class="footer-top">
                <div class="widget-section">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                            <div class="about-widget footer-widget">
                                <figure class="footer-logo"><a href="index.html"><img src="~/images/logo-4.png" alt=""></a></figure>
                                <div class="text">
                                    <div class="text">
                                        Building Software
                                        <br>
                                        Beautiful,
                                        <br>
                                        Reliable and Intelligent.
                                    </div>
                                </div>
                                <div class="apps-download">
                                    <h3>Download the App</h3>
                                    <div class="download-btn">
                                        <a href="#" class="app-store-btn">
                                            <i class="fab fa-apple"></i>
                                            <span>Download on the</span>
                                            App Store
                                        </a>
                                        <a href="#" class="google-play-btn">
                                            <i class="fab fa-android"></i>
                                            <span>Get on it</span>
                                            Google Play
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                            <div class="links-widget footer-widget">
                                <h4 class="widget-title">Services</h4>
                                <div class="widget-content">
                                    <ul class="list clearfix">
                                        <li><a href="#">Business Dashboards</a></li>
                                        <li><a href="#">Sales Analytics</a></li>
                                        <li><a href="#">Digital Marketing</a></li>
                                        <li><a href="#">Financial Help</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="contact-widget footer-widget">
                                <h4 class="widget-title">Contact Us</h4>
                                <div class="widget-content">
                                    <ul class="contact-info clearfix">
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i> D-57,Noida,Sector-10,
                                            UP
                                        </li>
                                        <li><i class="fas fa-phone"></i><a href="#">+91-8766235849</a></li>
                                        <li><i class="fas fa-envelope"></i><a href="mailto:info@example.com">info@devopslogix.com</a></li>
                                    </ul>
                                </div>
                                <ul class="social-links clearfix">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="links-widget footer-widget">
                                <h4 class="widget-title">About Company</h4>
                                <div class="widget-content">
                                    <ul class="list clearfix">
                                        <li><a href="#">Our Leadership</a></li>
                                        <li><a href="#">Carrers</a></li>
                                        <li><a href="service.html">What We Do</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom clearfix">
                <ul class="footer-nav pull-right">
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Legal</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">&copy; 2021 <a href="#">DevopsLogix</a>. All rights reserved</div>
    </footer>
    <!-- main-footer end -->
    <!--Scroll to top-->
    <!-- jequery plugins -->
    <script src="~/scripts/js/jquery.js"></script>
    <script src="~/scripts/js/popper.min.js"></script>
    <script src="~/scripts/js/bootstrap.min.js"></script>
    <script src="~/scripts/js/owl.js"></script>
    <script src="~/scripts/js/wow.js"></script>
    <script src="~/scripts/js/validation.js"></script>
    <script src="~/scripts/js/jquery.fancybox.js"></script>
    <script src="~/scripts/js/appear.js"></script>
    <script src="~/scripts/js/scrollbar.js"></script>
    <script src="~/scripts/js/tilt.jquery.js"></script>

    <!-- main-js -->
    <script src="~/scripts/js/script.js"></script>
</body>
</html>
