
@{
    ViewBag.Title = "BlogDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Mobile Menu  -->
<div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><i class="fas fa-times"></i></div>

    <nav class="menu-box">
        <div class="nav-logo"><a href="index.html"><img src="~/images/logo-4.png" alt="" title=""></a></div>
        <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
        <div class="contact-info">
            <h4>Contact Info</h4>
            <ul>
                <li>Chicago 12, Melborne City, USA</li>
                <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                <li><a href="mailto:info@example.com">info@example.com</a></li>
            </ul>
        </div>
        <div class="social-links">
            <ul class="clearfix">
                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
            </ul>
        </div>
    </nav>
</div><!-- End Mobile Menu -->
<!-- page-title -->
<section class="page-title" style="background-image: url(/images/background/pagetitle-bg.png);">
    <div class="anim-icons">
        <div class="icon icon-1"><img src="~/images/icons/anim-icon-17.png" alt=""></div>
        <div class="icon icon-2 rotate-me"><img src="~/images/icons/anim-icon-18.png" alt=""></div>
        <div class="icon icon-3 rotate-me"><img src="~/images/icons/anim-icon-19.png" alt=""></div>
        <div class="icon icon-4"></div>
    </div>
    <div class="container">
        <div class="content-box clearfix">
            <div class="title-box pull-left">
                <h1>Latest News</h1>
                <p>Reach out to the world’s most reliable IT services.</p>
            </div>
            <ul class="bread-crumb pull-right">
                <li>Blog Details</li>
                <li><a href="index.html">Home</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- page-title end -->
<!-- blog-single -->
<section class="sidebar-page-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="blog-single-content">
                    <div class="post-details">
                        <figure class="image-box"><img src="~/images/resource/blog-3.jpg" alt=""></figure>
                        <div class="inner-box">
                            <div class="upper-box">
                                <div class="post-date"><i class="fas fa-calendar-alt"></i>January 09, 2019</div>
                                <h3>We developed the app for our customer to easy to use it.</h3>
                                <div class="text">Eveniet in vulputate velit esse molestie consequat, dolore eu feugiat nulla facilisis at seds eros sed et accumsan et iusto odio dignissim. Temporibus autem quibusdam et aut officiis. It contains a series of real Latin words. This ancient dummy text is also incomprehensible, but it imitates the rhythm of most European languages in Latin script.</div>
                                <blockquote>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</blockquote>
                                <div class="two-column">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6 col-sm-12 image-column">
                                            <figure class="image-box"><img src="~/images/resource/blog-5.jpg" alt=""></figure>
                                        </div>
                                        <div class="col-lg-7 col-md-6 col-sm-12 text-column">
                                            <div class="text">
                                                <p>The advantage of its Latin origin and the relative meaninglessness of Lorum Ipsum is that the text does not attract attention to itself or distract the viewer's attention from the layout. but it imitates the rhythm of most European languages in Latin script.</p>
                                                <p>Lorum Ipsum is that the text does not attract attention to itself or distract the viewer's layout.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lower-box clearfix">
                                <div class="left-content pull-left">
                                    <figure class="admin-image"><img src="~/images/resource/admin-1.png" alt=""></figure>
                                    <span class="admin-name">by Jhon Kenedy</span>
                                </div>
                                <ul class="right-content pull-right">
                                    <li><a href="#">30 &nbsp;<i class="far fa-comments"></i></a></li>
                                    <li class="share">
                                        <a href="#"><i class="fas fa-share-alt"></i></a>
                                        <ul class="social-links">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="author-box">
                        <div class="author-inner">
                            <figure class="author-thumb"><img src="~/images/resource/author.jpg" alt=""></figure>
                            <div class="inner">
                                <h4>About The Theodore</h4>
                                <div class="text">
                                    Dynamically innovate resource and<br />leveling customer service for state of the art customer service.
                                </div>
                                <ul class="social-links clearfix">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="comments-area">
                        <div class="sec-title"><h2>Comments (03)</h2></div>
                        <div class="comment-box">
                            <div class="comment">
                                <figure class="author-thumb"><img src="~/images/resource/comment-1.png" alt=""></figure>
                                <div class="comment-inner">
                                    <div class="comment-info">
                                        <h5 class="name">Rayan Collins</h5>
                                        <span class="date">October 6, 2019</span>
                                    </div>
                                    <div class="text">It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out.</div>
                                    <div class="replay-btn"><a href="#">Reply</a></div>
                                </div>
                            </div>
                            <div class="comment replay-comment">
                                <figure class="author-thumb"><img src="~/images/resource/comment-2.png" alt=""></figure>
                                <div class="comment-inner">
                                    <div class="comment-info">
                                        <h5 class="name">Liam Irvines</h5>
                                        <span class="date">October 5, 2019</span>
                                    </div>
                                    <div class="text">It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out.</div>
                                    <div class="replay-btn"><a href="#">Reply</a></div>
                                </div>
                            </div>
                            <div class="comment">
                                <figure class="author-thumb"><img src="~/images/resource/comment-3.png" alt=""></figure>
                                <div class="comment-inner">
                                    <div class="comment-info">
                                        <h5 class="name">Rayan Collins</h5>
                                        <span class="date">October 4, 2019</span>
                                    </div>
                                    <div class="text">It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out.</div>
                                    <div class="replay-btn"><a href="#">Reply</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comments-form-area">
                        <div class="sec-title"><h2>Leave Reply Comments</h2></div>
                        <form action="#" method="post" class="comment-form default-form">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <textarea name="message" placeholder="Comment"></textarea>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <input type="text" name="name" placeholder="Name" required="">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <input type="email" name="email" placeholder="Mail Address" required="">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <input type="text" name="website" placeholder="Webstie (optional)">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                    <button type="submit" class="theme-btn-two">Post now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="sidebar">
                    <div class="sidebar-search sidebar-widget">
                        <div class="search-form">
                            <form action="#" method="post">
                                <div class="form-group">
                                    <input type="search" name="search-field" placeholder="Search Now" required="">
                                    <button type="submit"><i class="fas fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-categories sidebar-widget">
                        <h3 class="sidebar-title">Categories</h3>
                        <div class="widget-content">
                            <ul>
                                <li><a href="#">Web Design <span>(09)</span></a></li>
                                <li><a href="#">Graphics <span>(13)</span></a></li>
                                <li><a href="#">Web Development <span>(05)</span></a></li>
                                <li><a href="#">IOS/Android Development <span>(19)</span></a></li>
                                <li><a href="#">Others <span>(12)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-post sidebar-widget">
                        <h3 class="sidebar-title">Recent News</h3>
                        <div class="widget-content">
                            <div class="post">
                                <figure class="image"><a href="blog-details.html"><img src="~/images/resource/post-1.jpg" alt=""></a></figure>
                                <h5><a href="blog-single.html">Best website traffice Booster with great tools.</a></h5>
                                <span class="post-date">12 May, 2016</span>
                            </div>
                            <div class="post">
                                <figure class="image"><a href="blog-details.html"><img src="~/images/resource/post-2.jpg" alt=""></a></figure>
                                <h5><a href="blog-single.html">Google take latest step & Catch the black SEO</a></h5>
                                <span class="post-date">11 May, 2016</span>
                            </div>
                            <div class="post">
                                <figure class="image"><a href="blog-details.html"><img src="~/images/resource/post-3.jpg" alt=""></a></figure>
                                <h5><a href="blog-single.html">How to become a best sale marketer in a year!</a></h5>
                                <span class="post-date">10 May, 2016</span>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-tags sidebar-widget">
                        <h3 class="sidebar-title">Popular Tags</h3>
                        <div class="widget-content">
                            <ul class="tag-list clearfix">
                                <li><a href="#">SEO Digital</a></li>
                                <li><a href="#">Animation</a></li>
                                <li><a href="#">Ideas</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Develpment</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-instagram sidebar-widget">
                        <h3 class="sidebar-title">Instagram</h3>
                        <div class="widget-content">
                            <div class="image-list clearfix">
                                <figure class="image"><a href="#"><img src="~/images/resource/instagram-1.jpg" alt=""></a></figure>
                                <figure class="image"><a href="#"><img src="~/images/resource/instagram-2.jpg" alt=""></a></figure>
                                <figure class="image"><a href="#"><img src="~/images/resource/instagram-3.jpg" alt=""></a></figure>
                                <figure class="image"><a href="#"><img src="~/images/resource/instagram-4.jpg" alt=""></a></figure>
                                <figure class="image"><a href="#"><img src="~/images/resource/instagram-5.jpg" alt=""></a></figure>
                                <figure class="image"><a href="#"><img src="~/images/resource/instagram-6.jpg" alt=""></a></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog-single end -->
<!-- clients-style-four -->
<section class="clients-style-four style-five">
    <div class="image-layer" style="background-image: url(/images/icons/layer-image-7.png);"></div>
    <div class="container">
        <div class="clients-carousel owl-carousel owl-theme owl-dots-none">
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-1.png" alt=""></a></figure>
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-2.png" alt=""></a></figure>
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-3.png" alt=""></a></figure>
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-4.png" alt=""></a></figure>
        </div>
    </div>
</section>
<!-- clients-style-four end -->
<div class="xs-sidebar-group info-group info-sidebar">
    <div class="xs-overlay xs-bg-black"></div>
    <div class="xs-sidebar-widget">
        <div class="sidebar-widget-container">
            <div class="widget-heading">
                <a href="#" class="close-side-widget">
                    X
                </a>
            </div>
            <div class="sidebar-textwidget">

                <!-- Sidebar Info Content -->
                <div class="sidebar-info-contents">
                    <div class="content-inner">
                        <div class="logo">
                            <a href="index.html"><img src="~/images/logo-4.png" alt="" /></a>
                        </div>
                        <div class="content-box">
                            <h4>About Us</h4>
                            <p class="text">Lorem ipsum dolor amet consectetur sed do eiusmod tempor incididunt ut labore. Lorem ipsum dolor amet consectetur adipisicing sed do eiusmod tempor incididunt ut labore.</p>
                            <a href="#" class="theme-btn-two">Explore</a>
                        </div>
                        <div class="contact-info">
                            <h4>Contact Info</h4>
                            <ul>
                                <li>Chicago 12, Melborne City, USA</li>
                                <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                                <li><a href="mailto:info@example.com">info@example.com</a></li>
                            </ul>
                        </div>
                        <!-- Social Box -->
                        <ul class="social-box">
                            <li class="facebook"><a href="#" class="fab fa-facebook-f"></a></li>
                            <li class="twitter"><a href="#" class="fab fa-twitter"></a></li>
                            <li class="linkedin"><a href="#" class="fab fa-linkedin-in"></a></li>
                            <li class="instagram"><a href="#" class="fab fa-instagram"></a></li>
                            <li class="youtube"><a href="#" class="fab fa-youtube"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END sidebar widget item -->
<!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fa fa-arrow-up"></span>
</button>
