
@{
    ViewBag.Title = "DeviceFriendly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Mobile Menu  -->
<div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><i class="fas fa-times"></i></div>

    <nav class="menu-box">
        <div class="nav-logo"><a href="index.html"><img src="~/images/logo-4.png" alt="" title=""></a></div>
        <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
        <div class="contact-info">
            <h4>Contact Info</h4>
            <ul>
                <li>Chicago 12, Melborne City, USA</li>
                <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                <li><a href="mailto:info@example.com">info@example.com</a></li>
            </ul>
        </div>
        <div class="social-links">
            <ul class="clearfix">
                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
            </ul>
        </div>
    </nav>
</div><!-- End Mobile Menu -->
<!-- page-title -->
<section class="page-title style-two">
    <div class="container">
        <div class="content-box clearfix">
            <div class="title-box pull-left">
                <h1>Device Friendly</h1>
                <p>Reach out to the world’s most reliable IT services.</p>
            </div>
            <ul class="bread-crumb pull-right">
                <li>Element</li>
                <li><a href="index.html">Home</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- page-title end -->
<!-- device-friendly -->
<section class="device-friendly elements" style="background-image: url(/images/icons/device-bg.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column js-tilt">
                <div id="image_block_21">
                    <figure class="image-box wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms clearfix"><img src="~/images/resource/illustration-9.png" alt=""></figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_20">
                    <div class="content-box">
                        <div class="icon-box">
                            <div class="icon icon-1"><img src="~/images/icons/anim-icon-7.png" alt=""></div>
                            <div class="icon icon-2 rotate-me"><img src="~/images/icons/anim-icon-11.png" alt=""></div>
                            <div class="icon icon-3 rotate-me"><img src="~/images/icons/anim-icon-8.png" alt=""></div>
                            <div class="icon icon-4 rotate-me"><img src="~/images/icons/anim-icon-9.png" alt=""></div>
                            <div class="icon icon-5 rotate-me"><img src="~/images/icons/anim-icon-10.png" alt=""></div>
                        </div>
                        <h1>Device Friendly Widget</h1>
                        <div class="text">Why I say old chap that is spiffing me old mucker, lurgy brown bread grub the BBC the full monty chancer ruddy dropped a clanger, only a quid blag mush cracking goal mufty blow.!</div>
                        <div class="btn-box"><a href="#">Get Started</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- device-friendly end -->
<!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fa fa-arrow-up"></span>
</button>
