
@{
    ViewBag.Title = "DigitalMarketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Mobile Menu  -->
<div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><i class="fas fa-times"></i></div>

    <nav class="menu-box">
        <div class="nav-logo"><a href="index.html"><img src="~/images/logo-4.png" alt="" title=""></a></div>
        <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
        <div class="contact-info">
            <h4>Contact Info</h4>
            <ul>
                <li>Chicago 12, Melborne City, USA</li>
                <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                <li><a href="mailto:info@example.com">info@example.com</a></li>
            </ul>
        </div>
        <div class="social-links">
            <ul class="clearfix">
                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
            </ul>
        </div>
    </nav>
</div><!-- End Mobile Menu -->
<!-- banner-section -->
<section class="banner-style-ten">
    <div class="image-layer" style="background-image: url(/images/icons/banner-bg-9.png);"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                <div class="content-box">
                    <h5>Digital Marketing</h5>
                    <h1>Know Your Business Find Better Solutions</h1>
                    <div class="text">we help our clients discover, build and grow exceptional data-driven websites</div>
                    <div class="btn-box"><a href="#" class="theme-btn-two">Get Started</a></div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                <div class="image-box js-tilt">
                    <figure class="image-1 clearfix"><img src="~/images/resource/illustration-15.png" alt=""></figure>
                    <figure class="image-2 float-bob-y"><img src="~/images/resource/men-2.png" alt=""></figure>
                    <figure class="image-3"><img src="~/images/icons/icon-19.png" alt=""></figure>
                    <figure class="image-4"><img src="~/images/icons/icon-20.png" alt=""></figure>
                    <figure class="image-5"><img src="~/images/icons/icon-21.png" alt=""></figure>
                    <figure class="image-6"><img src="~/images/icons/icon-22.png" alt=""></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->
<!-- clients-section -->
<section class="clients-section centred">
    <div class="container">
        <div class="clients-carousel owl-carousel owl-theme owl-dots-none">
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-1.png" alt=""></a></figure>
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-2.png" alt=""></a></figure>
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-3.png" alt=""></a></figure>
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-4.png" alt=""></a></figure>
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-1.png" alt=""></a></figure>
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-2.png" alt=""></a></figure>
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-3.png" alt=""></a></figure>
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-4.png" alt=""></a></figure>
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-1.png" alt=""></a></figure>
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-2.png" alt=""></a></figure>
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-3.png" alt=""></a></figure>
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-4.png" alt=""></a></figure>
        </div>
    </div>
</section>
<!-- clients-section end -->
<!-- service-style-three -->
<section class="service-style-three">
    <div class="image-layer wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms" style="background-image: url(/images/icons/shap-12.png);"></div>
    <div class="container">
        <div class="inner-container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 single-column">
                    <div class="sec-title"><h2>Let’s See Features Digital Business</h2></div>
                    <div class="service-block-three wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(/images/icons/icon-bg-3.png);"></div>
                                <i class="flaticon-profit-1"></i>
                            </div>
                            <h3><a href="#">Marketing Analysis.</a></h3>
                            <div class="text">Increase web traffic with pay-per click and retargeting advertising for your web pages.</div>
                            <div class="link-btn"><a href="#"><i class="far fa-arrow-alt-circle-right"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                    <div class="service-block-three wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(/images/icons/icon-bg-1.png);"></div>
                                <i class="flaticon-mail"></i>
                            </div>
                            <h3><a href="#">Social Media</a></h3>
                            <div class="text">Use customers’ preferences to engage in strategic conversations and build brand loyalty.</div>
                            <div class="link-btn"><a href="#"><i class="far fa-arrow-alt-circle-right"></i></a></div>
                        </div>
                    </div>
                    <div class="service-block-three wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(/images/icons/icon-bg-2.png);"></div>
                                <i class="flaticon-checkout"></i>
                            </div>
                            <h3><a href="#">Ecommerce</a></h3>
                            <div class="text">Business to business (B2B) or business to consumer (B2C) we have the experience you need to cater to your online consumers.</div>
                            <div class="link-btn"><a href="#"><i class="far fa-arrow-alt-circle-right"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                    <div class="service-block-three wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(/images/icons/icon-bg-4.png);"></div>
                                <i class="flaticon-startup"></i>
                            </div>
                            <h3><a href="#">SEO & Backlinks.</a></h3>
                            <div class="text">Grow and continually improve your website’s visibility and ranking with organic search.</div>
                            <div class="link-btn"><a href="#"><i class="far fa-arrow-alt-circle-right"></i></a></div>
                        </div>
                    </div>
                    <div class="service-block-three wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(/images/icons/icon-bg-5.png);"></div>
                                <i class="flaticon-server"></i>
                            </div>
                            <h3><a href="#">Hosting & Email</a></h3>
                            <div class="text">Reliable website hosting with professional grade email services. We can even manage your domain names for you!</div>
                            <div class="link-btn"><a href="#"><i class="far fa-arrow-alt-circle-right"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-style-three end -->
<!-- solve-problem -->
<section class="solve-problem">
    <div class="image-layer wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms" style="background-image: url(/images/icons/shap-13.png);"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_25">
                    <div class="content-box">
                        <div class="sec-title"><h2>Generate engaging content solve many problems</h2></div>
                        <h3>Analyze your marketing strategies today!</h3>
                        <div class="text">Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.</div>
                        <ul class="list-item clearfix">
                            <li>Excepteur sint occaecat cupidatat non proident sunt culpa qui officia deserunt mollit anim id est laborum.</li>
                            <li>Accusantium doloremque laudantium, totam rem aperiam,ipsa quae ab illo inventore veritatist quasi architecto.</li>
                        </ul>
                        <div class="btn-box"><a href="#" class="theme-btn">Sign Up Now<i class="fas fa-angle-right"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div id="image_block_24">
                    <div class="image-box wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <figure class="image clearfix js-tilt"><img src="~/images/resource/illustration-16.png" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- solve-problem end -->
<!-- counter-style-two -->
<section class="counter-style-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                <div id="image_block_25">
                    <div class="image-box wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <figure class="image js-tilt"><img src="~/images/resource/illustration-17.png" alt=""></figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                <div id="content_block_26">
                    <div class="content-box">
                        <div class="sec-title"><h2>Be on the Top & Get More Traffic to Your Website</h2></div>
                        <div class="text">Appway stays ahead of the curve with digital marketing trends. Our success has us leading the pack amongst our competitors with our ability to anticipate change and innovation.</div>
                        <div class="counter-inner clearfix">
                            <div class="counter-block">
                                <div class="inner-box wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="1500" data-stop="1200">0</span>
                                    </div>
                                    <h5>HAPPY CLIENTS</h5>
                                </div>
                            </div>
                            <div class="counter-block">
                                <div class="inner-box wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="1500" data-stop="156">0</span>
                                    </div>
                                    <h5>FINISHED PROJECTS</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- counter-style-two end -->
<!-- marketing-benefits -->
<section class="marketing-benefits">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_27">
                    <div class="content-box">
                        <div class="sec-title"><h2>Focus on Learning Approach Makting Benefits Higher</h2></div>
                        <div class="text">Our core values both transcend our success and are responsible for it. We are driven, focused, and empowered to produce at a high quality in everything we do, and these core values exemplify how we strive to be our best.</div>
                        <ul class="list-item clearfix">
                            <li>Endless customization options</li>
                            <li>Set your own prices (zero transaction fees)</li>
                            <li>Your business should be as unique</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div id="image_block_26">
                    <div class="image-box wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="bg-layer" style="background-image: url(/images/icons/shap-13.png);"></div>
                        <figure class="image js-tilt"><img src="~/images/resource/illustration-18.png" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- marketing-benefits end -->
<!-- testimonial-style-nine -->
<section class="testimonial-style-nine centred" style="background-image: url(/images/icons/testimonial-bg-6.png);">
    <div class="container">
        <div class="testimonial-carousel-2 owl-carousel owl-theme owl-dots-none">
            <div class="testimonial-content">
                <div class="inner-box">
                    <figure class="image-box"><img src="~/images/resource/testimonial-11.png" alt=""></figure>
                    <div class="text">We needed additional insight, which is something that we didn't find when looking at other companies. I would feel that I was teacvhing them things, as opposed to LSEO time.</div>
                    <div class="author-info">
                        <h3 class="name">K. Makanzi Jack</h3>
                        <span class="designation">Creativework</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-content">
                <div class="inner-box">
                    <figure class="image-box"><img src="~/images/resource/testimonial-11.png" alt=""></figure>
                    <div class="text">We needed additional insight, which is something that we didn't find when looking at other companies. I would feel that I was teacvhing them things, as opposed to LSEO time.</div>
                    <div class="author-info">
                        <h3 class="name">K. Makanzi Jack</h3>
                        <span class="designation">Creativework</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-content">
                <div class="inner-box">
                    <figure class="image-box"><img src="~/images/resource/testimonial-11.png" alt=""></figure>
                    <div class="text">We needed additional insight, which is something that we didn't find when looking at other companies. I would feel that I was teacvhing them things, as opposed to LSEO time.</div>
                    <div class="author-info">
                        <h3 class="name">K. Makanzi Jack</h3>
                        <span class="designation">Creativework</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial-style-nine end -->
<!-- news-section -->
<section class="news-section home-10">
    <div class="container">
        <div class="sec-title center">
            <h2>News & Events</h2>
            <p>Trusted by more than 9,000 businesses in 140 countries.<br />all of our resources are free</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 news-column">
                <div class="news-block-one wow flipInY" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="blog-single.html"><img src="~/images/resource/news-4.jpg" alt=""></a></figure>
                        <div class="lower-content">
                            <div class="post-date"><i class="fas fa-calendar-alt"></i>January 11, 2019</div>
                            <h3><a href="blog-single.html">Design your apps in your own way Business Startegies</a></h3>
                            <div class="link-btn"><a href="blog-single.html">Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-column">
                <div class="news-block-one wow flipInY" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="blog-single.html"><img src="~/images/resource/news-5.jpg" alt=""></a></figure>
                        <div class="lower-content">
                            <div class="post-date"><i class="fas fa-calendar-alt"></i>January 10, 2019</div>
                            <h3><a href="blog-single.html">We support our user every time and upgarad our app.</a></h3>
                            <div class="link-btn"><a href="blog-single.html">Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-column">
                <div class="news-block-one wow flipInY" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="blog-single.html"><img src="~/images/resource/news-6.jpg" alt=""></a></figure>
                        <div class="lower-content">
                            <div class="post-date"><i class="fas fa-calendar-alt"></i>January 09, 2019</div>
                            <h3><a href="blog-single.html">We developed the app for our customer to easy to use it.</a></h3>
                            <div class="link-btn"><a href="blog-single.html">Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- news-section end -->
<!-- check-work -->
<section class="check-work">
    <div class="container">
        <div class="inner-box">
            <div class="sec-title center"><h2>Check Your Website<br />Ready To Grow for your website Now</h2></div>
            <form action="#" method="post" class="check-form">
                <div class="form-group">
                    <input type="text" name="web_url" placeholder="Web URL" required="">
                    <input type="email" name="email" placeholder="Email Address" required="">
                    <button type="submit">Check Now</button>
                </div>
            </form>
            <div class="text">please check our <a href="#">Privacy Policy</a> to find out how we manage and protect your date</div>
        </div>
    </div>
</section>
<!-- check-work end -->
<!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fa fa-arrow-up"></span>
</button>