
@{
    ViewBag.Title = "Home";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><i class="fas fa-times"></i></div>
        
        <nav class="menu-box">
            <div class="nav-logo"><a href="index.html"><img src="~/images/logo-4.png" alt="" title=""></a></div>
            <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            <div class="contact-info">
                <h4>Contact</h4>
                <ul>
                    <li>D-57 Noida,<br>Sector-10<br>Uttar Pradesh </li>
                    <li><a href="tel:+8766235849"></a></li>
                    <li><a href="mailto:info@example.com">info@devopslogix.com</a></li>
                </ul>
            </div>
            <div class="social-links">
                <ul class="clearfix">
                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                    <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </nav>
    </div><!-- End Mobile Menu -->
<!-- banner-section end -->
    <section class="banner-section">
        <div class="bg-layer" style="background-image: url(/images/icons/banner-1.png);"></div>
        <div class="pattern-bg" style="background-image: url(/images/icons/vactor-1.png);"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div class="content-box">
                        <h1>Perfect App For Boost Your Business</h1>
                        <div class="text">
                            We deliver web and mobile app development services to global businesses since 2020, with 100% project delivery success. Hire the best programmers at affordable prices. Our design-focused approach and project execution processes help you to deliver the right solutions.
                        </div>
                        <div class="btn-box"><a href="#">Get App Now</a></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="image-box float-bob-y clearfix">
                        <figure class="image image-1 wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms"><img src="~/images/resource/phone-1.png" alt=""></figure>
                        <figure class="image image-2 wow fadeInUp" data-wow-delay="1500ms" data-wow-duration="1500ms"><img src="~/images/resource/phone-2.png" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- feature-section -->
<section class="feature-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 image-column">
                <div id="iamge_block_01">
                    <div class="image-box float-bob-y">
                        <figure class="image wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="~/images/business-meeting-over-coffee.jpg" alt=""></figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 content-column">
                <div id="content_block_01">
                    <div class="content-box">
                        <div class="sec-title">
                            <h2>Great products for great ideas</h2>
                            <p>
                                We are a digital technology company providing end-to-end product development services. We leverage the power of experience design, cutting-edge engineering, and cloud to build disruptive web and mobile apps enabling digital transformation for businesses.
                            </p>
                        </div>
                        <div class="inner-box wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <div class="bg-layer" style="background-image: url(/images/resource/case-1.png);"></div>
                                        <div class="icon-box"><i class="flaticon-app-1"></i></div>
                                        <h5><a href="#">Web Design</a></h5>
                                        <div class="text">Your website is the most important component of your company's marketing plan. It's the central hub for your messaging and content marketing efforts.</div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                    <div class="single-item wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                        <div class="bg-layer" style="background-image: url(images/resource/case-1.png);"></div>
                                        <div class="icon-box"><i class="flaticon-target"></i></div>
                                        <h5><a href="#">Web Development</a></h5>
                                        <div class="text">We work with you to develop a user experience which delivers value to your audience.web development solutions are customized to help you achieve your digital marketing goals.</div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                    <div class="single-item wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                        <div class="bg-layer" style="background-image: url(images/resource/case-1.png);"></div>
                                        <div class="icon-box"><i class="flaticon-shipping"></i></div>
                                        <h5><a href="#">Mobile App Development</a></h5>
                                        <div class="text">We develop mobile apps for various operating systems and mobile platforms. Google Android, or Windows, irrespective we are here to help you with our efficient mobile solutions.E-commerce and more.</div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                    <div class="single-item wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                                        <div class="bg-layer" style="background-image: url(images/resource/case-1.png);"></div>
                                        <div class="icon-box"><i class="flaticon-dashboard"></i></div>
                                        <h5><a href="#">iOS App Development</a></h5>
                                        <div class="text">offers iOS app development services tailored-made to your business needs. We bring a range of iOS app solutions to various business verticals with our result-driven iOS apps for iPhones, iPads,and Apple watches.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature-section -->
<!-- feature-style-two -->
<section class="feature-style-two centred">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one wow flipInY animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box js-tilt">
                        <div class="hover-content"></div>
                        <div class="icon-box">
                            <div class="bg-layer" style="background-image: url(../images/icons/feature-icon-1.png);"></div>
                            <i class="flaticon-smartphone"></i>
                        </div>
                        <h5><a href="#">Mobile</h5>
                        <div class="text">Highly polished iPhone & Android apps for startups and enterprise.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one wow flipInY animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box js-tilt">
                        <div class="hover-content"></div>
                        <div class="icon-box">
                            <div class="bg-layer" style="background-image: url(/images/icons/feature-icon-2.png);"></div>
                            <i class="flaticon-seo-and-web"></i>
                        </div>
                        <h5><a href="#">Web</h5>
                        <div class="text">Web-based solutions as multi-platform offering along with mobile.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one wow flipInY animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box js-tilt">
                        <div class="hover-content"></div>
                        <div class="icon-box">
                            <div class="bg-layer" style="background-image: url(/images/icons/feature-icon-3.png);"></div>
                            <i class="flaticon-app"></i>
                        </div>
                        <h5><a href="#">Branding</h5>
                        <div class="text">Professionally designed logos, business cards, envelopes, letterheads.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature-style-two end -->
<!-- feature-style-three -->
<section class="feature-style-three">
    <div class="container">
        <div class="inner-container">
            <div class="inner-box">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div id="content_block_02">
                            <div class="content-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="sec-title"><h2>Mobile Applications Redefined</h2></div>
                                <div class="text">
                                    <p>Bring your ideas to life with world class Design</p>
                                    <p>Since their inception, mobile devices & apps are revolutionising the ways of our lives and changing the digital world. From startups to large scale businesses, everyone is dependent on mobile applications to reinforce their brands and to increase visibility.</p>
                                </div>
                                <div class="btn-box"><a href="#" class="theme-btn">Learn More<i class="fas fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div id="iamge_block_02">
                            <div class="image-box">
                                <div class="bg-layer" style="background-image: url(/images/icons/image-shap-1.png);"></div>
                                <figure class="image image-1 wow slideInRight" data-wow-delay="300ms" data-wow-duration="1500ms"><img src="images/resource/dashbord-1.jpg" alt=""></figure>
                                <figure class="image image-2 wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="images/resource/dashbord-2.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner-box">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div id="iamge_block_03">
                            <div class="image-box">
                                <div class="bg-layer" style="background-image: url(/images/icons/image-shap-2.png);"></div>
                                <figure class="image image-1 wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="~/images/resource/dashbord-3.jpg" alt=""></figure>
                                <figure class="image image-2 wow slideInLeft" data-wow-delay="300ms" data-wow-duration="1500ms"><img src="~/images/resource/dashbord-4.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div id="content_block_03">
                            <div class="content-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="sec-title"><h2>Product Analytics</h2></div>
                                <div class="text">
                                    <p>What gets measured gets improved.</p>
                                    <p>
                                        Analytics is a critical piece of modern product management because most apps and websites aren't designed to run detailed reports on themselves. Product analytics makes that data useful again by integrating all data sources into one single organized view.
                                    </p>
                                </div>
                                <div class="btn-box"><a href="#" class="theme-btn">Learn More<i class="fas fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature-style-three -->
<!-- service-style-three -->
<section class="service-style-three">
    <div class="image-layer wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms" style="background-image: url(/images/icons/shap-12.png);"></div>
    <div class="container">
        <div class="inner-container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 single-column">
                    <div class="sec-title"><h2>Let’s See Features...</h2></div>
                    <div class="service-block-three wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(/images/icons/icon-bg-3.png);"></div>
                                <i class="flaticon-profit-1"></i>
                            </div>
                            <h3><a href="#">SEO Optimization.</a></h3>
                            <div class="text">Get more website traffic, more customers, and more visibility with.</div>
                            <div class="link-btn"><a href="#"><i class="far fa-arrow-alt-circle-right"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                    <div class="service-block-three wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(/images/icons/icon-bg-1.png);"></div>
                                <i class="flaticon-seo-and-web"></i>
                            </div>
                            <h3><a href="WEB DEVELOPMENT.html">Web Development</a></h3>
                            <div class="text">Your website has to impress your visitors within just a few.</div>
                            <div class="link-btn"><a href="#"><i class="far fa-arrow-alt-circle-right"></i></a></div>
                        </div>
                    </div>
                    <div class="service-block-three wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(/images/icons/icon-bg-2.png);"></div>
                                <i class="flaticon-checkout"></i>
                            </div>
                            <h3><a href="service.html">App Development</a></h3>
                            <div class="text">Launching a startup with limited capital? No problem.</div>
                            <div class="link-btn"><a href="Web-Design.html"><i class="far fa-arrow-alt-circle-right"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                    <div class="service-block-three wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(/images/icons/icon-bg-4.png);"></div>
                                <i class="flaticon-server"></i>
                            </div>
                            <h3><a href="IT-SECURITY.html">IT Security Service.</a></h3>
                            <div class="text">The strategy that enables the secure your it industry.</div>
                            <div class="link-btn"><a href="IT-SECURITY.html"><i class="far fa-arrow-alt-circle-right"></i></a></div>
                        </div>
                    </div>
                    <div class="service-block-three wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-layer" style="background-image: url(/images/icons/icon-bg-5.png);"></div>
                                <i class="flaticon-app"></i>
                            </div>
                            <h3>
                                <a href="#">
                                    WEBSITE MAINTENANCE
                                </a>
                            </h3>
                            <div class="text">Updating your website to meet business requirements.</div>
                            <div class="link-btn"><a href="WEBSITE-MAINTENANCE.html"><i class="far fa-arrow-alt-circle-right"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- testimonial-section -->
<section class="testimonial-section centred">
    <div class="image-layer" style="background-image: url(/images/icons/testimonial-bg.png);"></div>
    <div class="container">
        <div class="sec-title center">
            <h2>Our Users Review</h2>
        </div>
        <div class="testimonial-carousel owl-carousel owl-theme">
            <div class="testimonial-inner">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 testimonial-block">
                        <div class="testimonial-block-one">
                            <div class="inner-box">
                                <figure class="image-box"><img src="~/images/resource/testimonial-1.png" alt=""></figure>
                                <div class="text">
                                    “Very High Performing Teams and Place which trains on New Concepts ,
                                    Some projects are hard but support is given on, Overall very nice company and good projects are allocated on various domains.”
                                </div>
                                <div class="author-info">
                                    <h5 class="name">Lora smith</h5>
                                    <span class="designation">VP of Customer Experience</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 testimonial-block">
                        <div class="testimonial-block-one">
                            <div class="inner-box">
                                <figure class="image-box"><img src="~/images/resource/testimonial-2.png" alt=""></figure>
                                <div class="text">“ wonderful company to work for . The work culture defines its quality . The management is really good and they take a good care of all employees . The employees really gets a chance to perform and even the work culture is amazing here..”</div>
                                <div class="author-info">
                                    <h5 class="name">Jenipher</h5>
                                    <span class="designation">Programmer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-inner">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 testimonial-block">
                        <div class="testimonial-block-one">
                            <div class="inner-box">
                                <figure class="image-box"><img src="~/images/resource/testimonial-2.png" alt=""></figure>
                                <div class="text">“Good! It depends on the function and Department you are working, and the the kind of boss you are reporting to and your progress purely depends on that”</div>
                                <div class="author-info">
                                    <h5 class="name">Isabella.</h5>
                                    <span class="designation">VIP Client</span>
                                </div>
                            </div>
                            </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 testimonial-block">
                        <div class="testimonial-block-one">
                            <div class="inner-box">
                                <figure class="image-box"><img src="~/images/resource/testimonial-1.png" alt=""></figure>
                                <div class="text">“It's a very good company ,it gives you more opportunity to upgrade your skillset. People in these company are very much friendly and caring. Work experience will be stressful and fun .”</div>
                                <div class="author-info">
                                    <h5 class="name">Amelia.</h5>
                                    <span class="designation">Regular Client</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
<!-- testimonial-section end -->
