
@{
    ViewBag.Title = "Webdesigning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- main-header end -->
<!-- Mobile Menu  -->
<div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><i class="fas fa-times"></i></div>

    <nav class="menu-box">
        <div class="nav-logo"><a href="index.html"><img src="~/images/logo-4.png" alt="" title=""></a></div>
        <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
        <div class="contact-info">
            <h4>Contact</h4>
            <ul>
                <li>D-57 Noida,<br>Sector-10<br>Uttar Pradesh </li>
                <li><a href="tel:+91-8766235849"></a></li>
                <li><a href="mailto:info@example.com">info@devopslogix.com</a></li>
            </ul>
        </div>
        <div class="social-links">
            <ul class="clearfix">
                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
            </ul>
        </div>
    </nav>
</div><!-- End Mobile Menu -->
<!-- page-title -->
<section class="page-title style-two">
    <div class="container">
        <div class="content-box clearfix">
            <div class="title-box pull-left">
                <h1>WEBSITE DESIGN</h1>
                <p>Reach out to the world’s most reliable IT services.</p>
            </div>
            <ul class="bread-crumb pull-right">
                <li>Website</li>
                <li><a href="index.html">Home</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- page-title end -->
<!-- service-details -->
<section class="service-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="service-sidebar">
                    <div class="sidebar">
                        <h3>Web-Design</h3>
                        <div class="text">
                            The strategy that enables the design to fulfill defined goals...
                        </div>
                        <ul class="list">
                            <li><a href="#">All Services</a></li>
                            <li class="active"><a href="software-development.html">Software-Develpment Service</a></li>
                            <li><a href="Web-Design.html">web-design</a></li>
                            <li><a href="WEB DEVELOPMENT.html">Web-Development </a></li>
                            <li><a href="SOFTWARE-SUPPORT.html">Software Support </a></li>
                            <li><a href="#">IT Support</a></li>
                            <li><a href="WEBSITE-MAINTENANCE.html">Web-Maintenance </a></li>
                            <li><a href="#">Data Recovery</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="service-details-content">
                    <div class="inner-box">
                        <div class="top-content">
                            <div class="sec-title">
                                <h2>ABOUT WEBSITE DESIGN</h2>
                            </div>
                            <div class="text">
                                <p>We make beautiful website designs, we offer quality web programming & graphic designing services at affordable price. Our services are supported by personalized customer care, fast turn-around, prompt & quality support and low cost value added services. Our website design dept. has the experience to perform PHP web development, Asp and Asp.Net web development and other web application development services. We develop websites according to the requirements of the clients. We use flash and latest designs to create user as well as search engine friendly websites.</p>
                            </div>
                            <figure class="image-box"><img src="~/images/gallery/web-1.jpg" alt=""></figure>
                            <h3>
                                THE FOLLOWING FACTORS THAT WE FOCUS ON WHEN DESIGNING A WEBSITE:
                            </h3>
                            <div class="text">
                                <p>
                                    Class and Elegance<br>
                                    Quick Loading<br>
                                    Easy Navigation<br>
                                    Responsive design.
                                </p>
                            </div>
                        </div>
                        <div class="two-column">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                                    <div class="content-box">
                                        <h3>WHAT WE OFFER :</h3>
                                        <div class="text">
                                            E-Commerce<br>
                                            RESPONSIVE DESIGN.<br>
                                            CUSTOM DESIGN.<br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                    <figure class="image-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms"><img src="~/images/resource/service-details-2.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content">
                            <h3>Handover & Support</h3>
                            <div class="text">
                                <p>Knowledge transfer plays a big role in the success of software teams. In software testing, knowledge is transferred to the testing team during the requirements analysis phase of the software testing life cycle. Once testing is complete, knowledge is then transferred from the testing team to other involved people.</p>
                            </div>
                            <ul class="list-item">
                                <li>Various Analysis Options</li>
                                <li>Page Load Details (time, size, number of requests)</li>
                                <li>Waterfall, Video and Report History</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-details end -->
<!-- clients-style-four -->
<section class="clients-style-four style-five">
    <div class="image-layer" style="background-image: url(/images/icons/layer-image-7.png);"></div>
    <div class="container">
        <div class="clients-carousel owl-carousel owl-theme owl-dots-none">
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-1.png" alt=""></a></figure>
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-2.png" alt=""></a></figure>
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-3.png" alt=""></a></figure>
            <figure class="image-box"><a href="#"><img src="~/images/clients/client-4.png" alt=""></a></figure>
        </div>
    </div>
</section>
<!-- clients-style-four end -->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fa fa-arrow-up"></span>
</button>
